body, html {
	margin: 0px;
	padding: 0px;
}

body, html, div, * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, div, p, h1, h2, h3, h4, h5, h6, a, b, i, u, li, * {
    
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 24pt;
    border-bottom: 2px inset #9ac;
    color: #9ac;
    text-align: center;
    margin-bottom: 20pt;
}
h2 {
    font-size: 20pt;
    line-height: 20pt;
    clear: both;
    margin-top: 00pt;
    padding-top: 30pt;
    color: #9ac;
}
h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

#controls {
    position: relative;
    float: left;
    margin-left: 2%;
    width: 25%;
}

#controls:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#control-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
