body, html {
	margin: 0px;
	padding: 0px;
}


body, html, div, * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, div, p, h1, h2, h3, h4, h5, h6, a, b, i, u, li, * {
    
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 24pt;
    border-bottom: 2px inset #9ac;
    color: #9ac;
    text-align: center;
    margin-bottom: 20pt;
}
h2 {
    font-size: 20pt;
    line-height: 20pt;
    clear: both;
    margin-top: 00pt;
    padding-top: 30pt;
    color: #9ac;
}
h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
/*
#grid {
	position: relative;
	left: 0px;
	top: 0px;
	left: auto;
	right: auto;
	width: 100%;
	height: 100%;
	border: 1px solid gray;
    
    width: 75%;height: 0px; padding-bottom: 75%;
}
*/

#grid {
    position: relative;
    width: 100%;
    float: left;
}

#grid:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#grid-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#controls {
	display: none;
    position: relative;
    float: left;
    margin-left: 2%;
    width: 25%;
}

#controls:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#control-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*
.row {
	position: absolute;
    left: 0;
	clear: both;
	height: 10%;
	width: 100%;
}
*/

.block {
	position: relative;
	float: left;
	width: 10%;
	height: 10%;
}

ul.blockify {
    list-style-type: none;
    clear: both;
}
ul.blockify li {
    border-radius: 1em 1em 1em 1em;
    border: 1pt inset #039;
    width: 40%;
    height: 18pt;
    line-height: 18pt;
    text-align: center;
    float: left;
}
ul.blockify li.blockify-active {
    background-color: #039;
    color: white;
}